.heading {
    margin: 0 0;
}
  
.heading--1 {
    font-size: 48px;
    font-weight: bold;
}
  
.heading--2 {
    font-size: 32px;
    font-weight: bold;
}
  
.heading--3 {
    font-size: 24px;
    font-weight: bold;
}
  
.heading--4 {
    font-size: 20px;
}
  
.heading--5 {
    font-size: 16px;
}
  
.heading--6 {
    font-size: 14px;
}

.headings {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}