.my-button {
    border-radius: 8px;
    cursor: pointer;

    font-size: 18px;
    transition: background-color 200ms ease-in-out;
}

.my-button--primary {
    border: none;
    color: white;
    background-color: #06b106;
}

.my-button--primary:hover {
    background-color: white;
    color:#06b106;
    border: 1px solid #06b106;
}

.my-button--bordered {
    border: 1px solid #06b106;
    color: #06b106;
    background-color: white;
}

.my-button--bordered:hover {
    border: none;
    color: white;
    background-color: #06b106;
}

.my-button--medium {
    min-width: 150px;
    height: 40px;
}

.my-button--smol {
    min-width: 100px;
    height: 30px;
}

.my-button--big {
    min-width: 200px;
    height: 60px;
}